<h1 align="center">Checkbox</h1>
    <div class="row" align="center">
        <div class="input-group">
            <input type="checkbox" id="checkbox-1" aria-label="checkbox">
            Checkbox1
        </div>
    </div>
    <br />
    <div class="row" align="center">
        <div class="input-group">
            <input type="checkbox" id="checkbox-2" aria-label="checkbox">
            Checkbox2
        </div>
    </div>
    <br />
    <div class="row" align="center">
        <div class="input-group">
            <input type="checkbox" id="checkbox-3" aria-label="checkbox">
            Checkbox3
        </div>
    </div>
