<h1 align="center">Checkbox</h1>
    <div class="row" align="center">
        <div class="input-group">
            <input type="checkbox" aria-label="Checkbox for following text input">
            Checkbox1
        </div>
    </div>
    <br />
    <div class="row" align="center">
        <div class="input-group">
            <input type="checkbox" aria-label="Checkbox for following text input">
            Checkbox2
        </div>
    </div>
    <br />
    <div class="row" align="center">
        <div class="input-group">
            <input type="checkbox" aria-label="Checkbox for following text input">
            Checkbox3
        </div>
    </div>
