<br />
<h1>Checkbox</h1>
    <div class="row">
        <div class="input-group">
          <div class="col-sm-8"> 
            <input type="checkbox" id="checkbox-1" aria-label="checkbox" value="checkbox-1">
            Checkbox1
          </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="input-group">
          <div class="col-sm-8 col-sm-offset-2"> 
            <input type="checkbox" id="checkbox-2" aria-label="checkbox" value="checkbox-2">
            Checkbox2
          </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="input-group">
          <div class="col-sm-8 col-sm-offset-2">  
            <input type="checkbox" id="checkbox-3" aria-label="checkbox" value="checkbox-3">
            Checkbox3
          </div>
        </div>
    </div>
