<br />
<h1>Datepicker</h1>

<div class="row">
  <div class="input-group">
    <div class="col-sm-4">
      <!-- <label>Date</label> -->
      <input type="text"
             class="form-control"
             id="datepicker"
             data-provide="datepicker"
             placeholder="mm/dd/yyyy"
             data-date-autoclose="true"
             data-date-today-highlight="true" >
    </div>
  </div>
</div>
