<h1 align="center">Datepicker</h1>

<div class="row" align="center">
  <div class="input-group">
    <label>Date</label>
    <input type="text" data-provide="datepicker" placeholder="mm/dd/yyyy">
  </div>
</div>
