<h1 align="center">Datepicker</h1>

<div class="row" align="center">
  <div class="input-group">
    <label>Date</label>
    <input type="text"
           class="form-control"
           id="datepicker"
           data-provide="datepicker"
           placeholder="mm/dd/yyyy"
           data-date-autoclose="true"
           data-date-today-highlight="true" >
  </div>
</div>
