<!DOCTYPE HTML>
<html>
<head>
  <br />
  <h1>Drag the image into the box</h1>
  <form>
<style>
#box {
    width: 215px;
    height: 215px;
    padding: 10px;
    border: 5px solid #aaaaaa;
    margin-left: auto;
    margin-right: auto;
}
</style>
<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>
</head>
<body>

<div class="form-group row">
  <div class="col-sm-3">
    <div id="box" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  </div>
  <div class="col-sm-3">
    <%= image_tag("selenium-logo.png", id: "image", draggable: true, ondragstart: "drag(event)") %>
  </div>
</div>
  </body>
</form>
</html>
