<br />
<h1>Complete Web Form</h1>


<form>
  <div class="form-group">

    <!-- TEXT FIELDS -->
    <div class="col-sm-8 col-sm-offset-2">
      <strong><label for="first-name">First name</label></strong>
      <input type="text" class="form-control" id="first-name" placeholder="Enter first name">
    </div>
    <br />

    <div class="col-sm-8 col-sm-offset-2">
      <strong><label for="last-name">Last name</label></strong>
      <input type="text" class="form-control" id="last-name" placeholder="Enter last name">
    </div>
    <br />

    <div class="col-sm-8 col-sm-offset-2">
      <strong><label for="job-title">Job title</label></strong>
      <input type="text" class="form-control" id="job-title" placeholder="Enter your job title">
    </div>
    <br />

    <!-- RADIO BUTTONS -->
    <div class="input-group">
      <div class="col-sm-8 col-sm-offset-2">
        <strong><label for="radio-button">Highest level of education</label></strong>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <input type="radio" id="radio-button-1" aria-label="Radio button" value="radio-button-1">
        High School
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <input type="radio" id="radio-button-2" aria-label="Radio button" value="radio-button-2">
        College
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <input type="radio" id="radio-button-3" aria-label="Radio button" value="radio-button-3" >
        Grad School
      </div>
    </div>
    <br />

    <!-- CHECKBOXES -->
    <div class="input-group">
      <div class="col-sm-8 col-sm-offset-2">
        <strong><label for="radio-button">Sex</label></strong>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <input type="checkbox" id="checkbox-1" aria-label="checkbox" value="checkbox-1">
        Male
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <input type="checkbox" id="checkbox-2" aria-label="checkbox" value="checkbox-2">
        Female
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <input type="checkbox" id="checkbox-3" aria-label="checkbox" value="checkbox-3">
        Prefer not to say
      </div>
    </div>
    <br />

    <!-- DROPDOWN/ SELECT -->
    <div class="col-sm-4 col-sm-offset-2">
      <strong><label for="select-menu">Years of experience:</label></strong>
        <select class="form-control" id="select-menu">
          <option value="0" selected>Select an option</option>
          <option value="1">0-1</option>
          <option value="2">2-4</option>
          <option value="3">5-9</option>
          <option value="4">10+</option>
        </select>
    </div>
    <br />

    <!-- INSERT DATE-->
    <div class="col-sm-4">
        <strong><label>Date</label></strong>
        <input type="text"
               class="form-control"
               id="datepicker"
               data-provide="datepicker"
               placeholder="mm/dd/yyyy"
               data-date-autoclose="true"
               data-date-today-highlight="true" >
    </div>
    <br />
    <div class="col-sm-4 col-sm-offset-2">
      <%= link_to "Submit", thanks_path, class: "btn btn-lg btn-primary", role: "button" %>
    </div>

</div>

  </div>
</form>
