<br />
<h1>Keyboard and Mouse Input</h1>
<br />
<form>
  <div class="form-group row">
    <div class="col-sm-4">
      <label for="name">Full name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter full name">
    </div>
  </div>
  <br />
  <div class="form-group row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btn-lg" id="button">Button</button>
   </div>
 </div>
</form>
