<br />
  <h1>Radio button</h1>
  <div class="form-check">
      <input class="form-check-input" type="radio" id="radio-button-1" value="option1">
      <label class="form-check-label" for="radio-button-1">
        Radio button 1
      </label>
  </div>
  <br />
  <div class="form-check">
    <input class="form-check-input" type="radio" value="option2">
    <label class="form-check-label" for="radio-button-2">
      Radio button 2
    </label>
  </div>
  <br />
  <div class="form-check">
    <input class="form-check-input" type="radio" value="option3">
    <label class="form-check-label" for="radio-button-3">
      Radio button 3
    </label>
  </div>
</div>
