<div class="container" align="center">
  <h1>Radio button</h1>

      <div class="input-group">
          <input type="radio" id="radio-button-1" aria-label="Radio button" value="radio-button-1">
          Radio button 1
      </div>
  <br />
      <div class="input-group">
          <input type="radio" id="radio-button-2" aria-label="Radio button" value="radio-button-2">
          Radio button 2
      </div>
  <br />
      <div class="input-group">
          <input type="radio" id="radio-button-3" aria-label="Radio button" value="radio-button-3" >
          Radio button 3
      </div>
</div>
