<div class="container" align="center">
  <h1>Radio button</h1>

  <div class="row">
      <div class="input-group">
          <input type="radio" aria-label="Radio button for following text input">
          Radio button 1
      </div>
  </div>
  <br />
  <div class="row">
      <div class="input-group">
          <input type="radio" aria-label="Radio button for following text input">
          Radio button 2
      </div>
  </div>
  <br />
  <div class="row">
      <div class="input-group">
          <input type="radio" aria-label="Radio button for following text input">
          Radio button 3
      </div>
  </div>
</div>
