<h1 align="center">Switch Window</h1>
<form align="center">
  <div class="form-group row">
    <button type="button" class="btn btn-primary" id="alert-buton" onclick="myFunction()">
    Open alert
    </button>

    <script>
    function myFunction() {
      alert("This is an alert!");
    }
    </script>
  </div>

  <div class="form-group row">
    <button type="button" class="btn btn-primary" id="new-window-button" onclick="window.open('https://formy-project.herokuapp.com/');">
      Open new Window
    </button>
  </div>
</form>
